@import "tailwindcss";

@theme {
  /* Cosmonaut Blueprints */
  --color-void: #0D1321;
  --color-navy: #1D2D44;
  --color-starlight: #F0EBD8;
  
  /* Purple Haze Nebula */
  --color-eggplant: #210535;
  --color-violet: #7B337D;
  --color-orchid: #C874B2;
  
  /* Lunar Dust */
  --color-deepspace: #111317;
  --color-shadow: #5A5F6B;
  --color-moonwhite: #F7F5EF;

  /* Typography */
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Merriweather", serif;
}